<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="2cb30a54-ea89-4cb6-868d-f55c7d5ee62c"
    Publisher="CN=Hepi34"
    Version="1.2.1.0" />

  <Properties>
    <DisplayName>Hepi34/PowerMode</DisplayName>
    <PublisherDisplayName>Hepi34</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="PowerModeWinUI.exe"
      EntryPoint="$targetentrypoint$">
		
      <uap:VisualElements
        DisplayName="Hepi34/PowerMode"
        Description="Allows you to change the windows powermode from the taskbar"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap5:Extension
			  Category="windows.startupTask"
			  Executable="PowerModeWinUI.exe"
			  EntryPoint="Windows.FullTrustApplication">
				<uap5:StartupTask
				  TaskId="PowerModeWinUI"
				  Enabled="true"
				  DisplayName="Hepi34/PowerMode" />
			</uap5:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
